@media only screen and (min-width: 1024px) {
  /* for small screen */

  .patterns {
    display: inline-block;
    flex-direction: row;
    /* column-count: 3; */
    -webkit-column-break-inside: avoid;
  }

  .pattern-container {
    /* display: flex; */
    justify-content: center;
    margin: 2em;
    /* column-count: 3; */
  }

  .card-deck {
    margin-bottom: 1em;
  }

  .card-body {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    min-width: 20em;
    border: solid;
    border-color: black;
    /* border-style: solid; */
  }

  .view-pattern {
    vertical-align: middle;
    border: solid;
    min-width: 10em;
    min-height: 15em;
  }

  .view-pattern:hover {
    cursor: pointer;
    border: solid;
  }

  .card-body:hover {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    min-width: 20em;
  }

  .heart {
    color: transparent;
    font-size: 1.75em;
    stroke: red;
    stroke-width: 35;
  }

  .share {
    color: blue;
    font-size: 1.75em;
  }

  .fork-pattern {
    color: black;
    font-size: 1.75em;
  }

  .heart:hover {
    cursor: pointer;
  }
  .share:hover {
    cursor: pointer;
  }
  .fork-pattern:hover {
    cursor: pointer;
  }

  /* .card-columns {
    display: inline-block;
    column-count: 3;
  } */

  .card-footer {
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 10px;
  }

  .is-favourited {
    color: red;
  }

  .is-not-favourited {
    color: transparent;
  }
}

@media only screen and (max-width: 1023px) {
  /* for wide screen */
  .patterns {
    /* margin-top: 27em; */
    display: inline-block;
    flex-direction: row;
    column-count: 1;
    -webkit-column-break-inside: avoid;
  }

  .pattern-container {
    /* margin-top: 5em; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    margin: 2em;
  }

  .card-deck {
    margin-bottom: 2em;
  }

  .card-body {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 20em;
    border-style: solid;
  }

  .card-body:hover {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 20em;
    box-shadow: lightslategrey;
  }

  .view-pattern {
    vertical-align: middle;
    border: solid;
    border-color: black;
    min-width: 20em;
    min-height: 20em;
  }

  .view-pattern:hover {
    cursor: pointer;
  }

  .heart {
    color: transparent;
    font-size: 1.75em;
    stroke: red;
    stroke-width: 35;
  }

  .share {
    color: blue;
    font-size: 1.75em;
  }

  .fork-pattern {
    color: black;
    font-size: 1.75em;
  }

  .heart:hover {
    cursor: pointer;
  }

  .share:hover {
    cursor: pointer;
  }

  .fork-patterh {
    cursor: pointer;
  }

  .card-columns {
    display: inline-block;
    column-count: 5;
  }

  .card-footer {
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 10px;
  }

  .is-favourited {
    color: red;
  }
}
