@media only screen and (min-width: 1024px) {
  /* for small screen */
  .patterns {
    display: inline-block;
    flex-direction: row;
    column-count: 3;
    -webkit-column-break-inside: avoid;
  }

  .pattern-container {
    /* display: flex; */
    text-align: center;
    margin: 2em;
  }

  .card-deck {
    margin-bottom: 1em;
  }

  .card-body {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    min-width: 20em;
    opacity: 70%;
  }

  .view-pattern:hover {
    cursor: pointer;
  }

  .card-body:hover {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    min-width: 20em;
    opacity: 100%;
  }

  .heart {
    color: red;
    font-size: 2em;
    opacity: 50%;
  }

  .share {
    color: blue;
    font-size: 2em;
    opacity: 50%;
  }

  .heart:hover {
    opacity: 100%;
    cursor: pointer;
  }
  .share:hover {
    opacity: 100%;
    cursor: pointer;
  }

  .card-columns {
    display: inline-block;
    column-count: 3;
  }

  .card-footer {
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1023px) {
  /* for wide screen */
  .patterns {
    display: inline-block;
    flex-direction: row;
    column-count: 1;
    -webkit-column-break-inside: avoid;
  }

  .pattern-container {
    /* display: flex; */
    text-align: center;
    margin: 2em;
  }

  .card-deck {
    margin-bottom: 1em;
  }

  .card-body {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 20em;
    opacity: 70%;
  }

  .card-body:hover {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-width: 20em;
    opacity: 100%;
  }

  .view-pattern:hover {
    cursor: pointer;
  }

  .heart {
    color: red;
    font-size: 2em;
    opacity: 50%;
  }

  .share {
    color: blue;
    font-size: 2em;
    opacity: 50%;
  }

  .heart:hover {
    opacity: 100%;
    cursor: pointer;
  }

  .share:hover {
    opacity: 100%;
    cursor: pointer;
  }

  .card-columns {
    display: inline-block;
    column-count: 3;
  }

  .card-footer {
    padding-left: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    padding-top: 10px;
  }
}
